@import 'base.less';

// main stylesheet

//testing 
@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

#header {
  color: @light-blue;
}

//marbellaweather.com styles
#weatherIcon { font-size: 5em; }

body, #fullpage, .section { height: 100%; width: 100%; overflow:hidden; left: 0; top: 0; position:fixed; display: block; }
.section { background: #fff; margin-left: 100%; }
.active {  }
#firstSlide { margin-left:0; }
#secondSlide { background: green; }
#thirdSlide { background: blue; }
