@import 'base.less';

@randomNum: `Math.ceil(Math.random() * 2000)`;
@random100: `Math.ceil(Math.random() * 100)`;
@random3: `Math.ceil(Math.random() * 3) -1`;
@dropColour: #ddd - @random100;
@skew: `Math.ceil(Math.random() * 10)`;
@skewStart: @skew;
@skewFinish: @skew + 10;

.flipX {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.flipY {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
	animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}

// main stylesheet

//testing
@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@green: #0f9d58;

#header {
  color: @light-blue;
}
body, #fullpage, .section { height: 100%; width: 100%; overflow:hidden; position:fixed; display: block; }

.center-block { float: none; }

.footer { position: fixed; bottom: 0; width: 100%; height: 60px; background-color: #f5f5f5; z-index: 3; }

.weatherIcon { font-size: 1.5em; }
.weatherCondition, .currentTemperature { }
.weatherWrap { z-index: 3; position: relative; }


.section { margin-left: 100%; top: 50px;}
.activeSlide {  }
#now { margin-left:0; }

.forecastContent { text-align:center; margin-top: 2em; z-index: 3; }

h1 { margin: 10px 0; }

.slideNav { width: 100%; padding-left: 0; }
.slideNav li { list-style: none; display: inline-block; text-align: center; width: 19%; margin: 0; }
.slideNav li a { padding: 8px 0; width: 100%; margin: 10px 0; .transition(all 0.8s linear;); }
.activeButton { background-color: @green !important; }

.timeLabel { position: absolute; right: 10px; top:10px; padding: 1em; background-color: @green; color: #fcfcfc; }

.forecastTemperature {  }

.navbar-inverse { background: #16A085;  }
.bgDay, .clear { background: #6BB9F0; }
.bgDay, .clear { background: radial-gradient(ellipse at center top , #9AD9FF 0px, #199BF8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) }

.bgNight { background: #2C3E50; }

.bgDay, .bgNight, #later { color: #fafafa; }


@import 'cloud.less';
@import 'rain.less';
@import 'stars.less';